@page "/resume"

<PageTitle>Resume</PageTitle>

<!-- Page Content-->
<div class="container px-5 my-5">
  <div class="text-center mb-5">
    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
  </div>
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      <!-- Experience Section-->
      <section>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h2 class="text-primary fw-bolder mb-0">Experience</h2>
          <!-- Download resume button-->
          <!-- Note: Set the link href target to a PDF file within your project-->
          <a class="btn btn-primary px-4 py-3" href="/assets/curriculo.pdf" download="curriculo.pdf">
            <div class="d-inline-block bi bi-download me-2"></div>
            Download Resume
          </a>
        </div>
        <!-- Experience Card 1-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">2023 - 2023</div>
                  <div class="small fw-bolder">.NET Developer</div>
                  <div class="small text-muted">HANDCOM</div>
                  <div class="small text-muted">Juiz de Fora, MG</div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>Desenvolvimento de API's, Desenvolvimento Web Blazor. 
                  Utilizando os princípios da Arquitetura Limpa .NET com Design Orientado a Domínio.</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Experience Card 2-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">2023 - 2023</div>
                  <div class="small fw-bolder">.NET Developer</div>
                  <div class="small text-muted">GBM Tech</div>
                  <div class="small text-muted">Santos, SP</div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>Minhas funções englobavam desenvolvimento de soluções tecnológicas para área portuária. 
                  Responsável pela migração de projeto DELPHI para .NET Framework.</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Experience Card 3-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">2021 - 2023</div>
                  <div class="small fw-bolder">.NET Developer</div>
                  <div class="small text-muted">BeeIT - Sistemas de Saúde</div>
                  <div class="small text-muted">Porto Alegre, RS</div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>Desenvolvimento de API's, Desenvolvimento Web Blazor. 
                  Desenvolvimento de soluções tecnológicas para área da saúde.</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Experience Card 4-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">Abril de 2021 - Julho de 2021</div>
                  <div class="small fw-bolder">Web Developer</div>
                  <div class="small text-muted">Retail Hub</div>
                  <div class="small text-muted">São Paulo, SP</div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>Desenvolvimento Web utilizando a biblioteca React. Manutenções em Marketplaces Vtex. 
                  Novas features e implementações gerais.</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Education Section-->
      <section>
        <h2 class="text-secondary fw-bolder mb-4">Education</h2>
        <!-- Education Card 1-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-secondary fw-bolder mb-2">2020 - 2024</div>
                  <div class="mb-2">
                    <div class="small fw-bolder">Centro Universitário do Distrito Federal</div>
                    <div class="small text-muted">Brasília, DF</div>
                  </div>
                  <div class="fst-italic">
                    <div class="small text-muted">Bachelor of</div>
                    <div class="small text-muted">Computer Science</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis
                  repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti
                  excepturi maxime porro fuga.</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Education Card 2-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-secondary fw-bolder mb-2">2009 - 2011</div>
                  <div class="mb-2">
                    <div class="small fw-bolder">Escola SENAI de Informática</div>
                    <div class="small text-muted">Brasília, DF</div>
                  </div>
                  <div class="fst-italic">
                    <div class="small text-muted">Technician</div>
                    <div class="small text-muted">Computer Technician</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis
                  repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti
                  excepturi maxime porro fuga.</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Divider-->
      <div class="pb-5"></div>
      <!-- Skills Section-->
      <section>
        <!-- Skillset Card-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <!-- Professional skills list-->
            <div class="mb-5">
              <div class="d-flex align-items-center mb-4">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i
                    class="bi bi-tools"></i></div>
                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SEO/SEM Marketing</div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Statistical Analysis</div>
                </div>
                <div class="col">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Network Security</div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Adobe Software Suite</div>
                </div>
                <div class="col">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User Interface Design</div>
                </div>
              </div>
            </div>
            <!-- Languages list-->
            <div class="mb-0">
              <div class="d-flex align-items-center mb-4">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i
                    class="bi bi-code-slash"></i></div>
                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C#</div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div>
                </div>
                <div class="col">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div>
                </div>
                <div class="col">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>